@using WebApplicationProject_sucks.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Register.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Group Results</title>
    <style>
 
        a:link, a:visited {
            background-color: aliceblue;
              border-radius: 10px;
            border-color:black;
             color:black;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: azure;           
        }

    </style>
</head>



<body>
    <div>
        <br>
        @{
            switch (ViewData["Factor"])
            {

                case "Profession":
                    foreach (var group in ViewData["GroupResult"] as IList<IGrouping<Profession, Professional>>)
                    {
                        var profession = group.Key.Profession_Name;
                        <i class="fa fa-folder-open-o" style="font-size:20px"></i><label style="font-size:20px;font-weight:bold;"> @profession </label><br><br>

                        foreach (var groupElement in group)
                        {
                            <i class="fa fa-mail-forward"></i><label> @groupElement.UserName</label><br><br>
                        }

                    }
                    break;


                case "Score":
                    foreach (var group in ViewData["GroupResult"] as IList<IGrouping<double, Professional>>)
                    {
                        var score = group.Key;
                        <i class="fa fa-folder-open-o" style="font-size:20px"></i><label style="font-size:20px;font-weight:bold;"> @score </label><br><br>

                        foreach (var groupElement in group)
                        {
                            <i class="fa fa-mail-forward"></i><label> @groupElement.UserName</label> <label>@groupElement.UserName</label><br><br>
                        }

                    }
                    break;


            }

            <a class="nav-link" href="~/HomePage/AdminHome">Move back to dashboard</a>

        }


    </div>
</body>
</html>
