@model WebApplicationProject_sucks.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <h4>Category</h4>
    <hr />

        @{           
            var room = Model.Rooms.GetEnumerator();
            while (room.MoveNext())
            {               
            <tr>
            <td>
                <label> @Html.ActionLink(room.Current.QuestionRoom.Title, "../QuestionRooms/Details/"+ room.Current.QuestionRoom.QuestionRoomID) </label>>
            </td>
       
            </tr>
            }
        }

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
