@model IEnumerable<WebApplicationProject_sucks.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Content/PageIndex.css?ver=<?php echo rand(111,999)?" type="text/css" />
</head>

<div class="main">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>category Name</th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Name })
            </td>
        </tr>
    }

</table>
@{
    if (Session["UserName"] == null)
    {
        <a href="../HomePage/FirstTimeInThisSystem">Back to create categories and professions</a>
    }
    else if (Session["IsAdmin"] != null)
    {
        if (Session["IsAdmin"].ToString() == "true")
        {
            <a href="../HomePage/FirstTimeInThisSystem">Back to create categories and professions</a>
        }
        else
        {
            <a href="../HomePage/Home">Back to home page</a>
        }

    }
    else
    {
        <a href="../HomePage/Home">Back to home page</a>
    }
}
    </div>
