body {
    background-color: dimgray;
    text-align: center;
}
.form-horizontal {
    width:60%;
    display: inline-block;
    background-color: white;
}
input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
