* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/*
    --
    --all section conteinars
    --
*/
/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background-image: url(../../src/landScape_soulOwl.jpg);
    background-size: 100% 100%;
    color: white;
}
    /* Increase the font size of the heading */
    .header h1 {
        font-size: 40px;
    }

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.post {
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'name image' 'house image';
    text-align: left;
    box-sizing: border-box;
}
.post {
    margin: 0 auto;
    max-width: 300px;
    border: solid 2px #ccc;
    padding: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.mybtn {
    border-radius: 50px;
    border-style: outset;
    background-color: transparent;
    padding-left: 5%;
    padding-right: 5%;
}
    .mybtn:hover {
        color: #000000;
        background-color: #FFFFFF;
    }
/* Main column */
.main {
    flex: 70%;
    padding: 2px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.allPost{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
img {
    max-height: 100px;
    grid-area: image;
}
/*
    --
    --all navbar related
    --
*/
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    font-size: 1vw;
    overflow: hidden;
    height:10%;
    background-color: #333;
    top: 0;
}
    .navbar .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
    }

    /* Style the navigation bar links */
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    .navbar .sidebar_open {
        float: left;
        display: block;
        color: white;
        background-color: transparent;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        border-style: none;
    }
        /* Right-aligned link */
        .navbar a.right {
            float: right;
        }

/* Change color on hover */
        .navbar a:hover {
            background-color: white;
            color: black;
        }

/* Active/current link */
        .navbar a.active {
            background-color: #666;
            color: white;
        }

    .navbar #searchBar {
        float: unset;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 20px;
        padding-right:1px;
        text-decoration: none;
        align-self: center;
        width: 40%;
    }
    .navbar #dropdown {
        flex-direction: column;
        display: flex;
        align-self: center;
    }
    .navbar .dropdown-content {
        align-self: center;
        display: none;
        background-color: rgba(1,1,1,0.5);
        border-color: ivory;
        min-width: 160px;
        overflow: visible;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        grid-template-columns: 3fr 1fr;
        width: 40%;
    }
/*side bar*/

.mySidebar {
    height:auto;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkslategrey;
    color:darkslategray;
    position: unset;
    height: 100%;
    overflow: auto;
}
    .mySidebar a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    .mySidebar input{
        border-style:none;
        background-color:transparent;
        color: white;
        text-align: center;
        width:100%;
        padding: 14px 20px;
        text-decoration: none;
    }
        .mySidebar input:hover {
            background-color: aliceblue;
            color: dimgray;
        }
        .mySidebar a:hover {
            background-color: aliceblue;
            color: dimgray;
        }
    
/*
    --
    --all searchbar related
    --
*/
#charactersList {
    width:inherit;
    display:grid;
    padding-top:2px;
    padding:5px;
    grid-gap:5px;
    text-decoration:none;
    background-color:white;
}
.character img {
    width: inherit;
    object-fit: cover;
    background-color: darkslategrey;
}
.character a {
    width: inherit;
    text-decoration: none;
    color:dimgray;
}
.character h2 {
   color:black;
}
.character {
    width: 200px;
    list-style-type: none;
    background-color: white;
    border-radius: 3px;
    flex-direction: column;
    display: flex;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.4);
    text-align: center;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    label {
        text-align: center;
        color:aqua;
    }
}
.titleOfPage{
    text-align:center;
}
ul{
    list-style-type:none;
}