@model WebApplicationProject_sucks.Models.QuestionRoom

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    
        <h4>QuestionRoom</h4>
        <hr />
         @Html.DisplayFor(model => model.Title)
        
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
</body>
</html>
