
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class=" authentication-buttons ">
        @Html.ActionLink("Log in", "LogIn")
        @Html.ActionLink("Register", "Register")
    </div>
</body>
</html>
