
@{
    ViewBag.Title = "FirstTimeInThisSystem";
}

<h2>FirstTimeInThisSystem</h2>
<html>
<body>
    <a href="../Categories/Create">Add category</a><br />
    <a href="../Professions/Create">Add profession</a><br />
</body>
</html>

<a href="/HomePage/AdminHome">Back to admin page</a>
       <!---->