@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">


<!--here we place the content that differs-->
<label>Hello! Please log in to continue</label>








