@using System.Web.Mvc.Html;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>

    <div class="header">
        <h1>Soul Owl</h1>
    </div>

    @Html.Partial("../Shared/navbar")
      ,b v
    @{ MyDB db = new MyDB();

        if (Session["UserName"] == null)
        {
            @Html.Partial("../HomePage/GuestHome")
        }
        
        else
        {
            string user = Session["UserName"].ToString();
            if (db.Users.Where(d => d.UserName == user).ToList().ElementAt(0).isProfessional)
            {
                @Html.Partial("../HomePage/ProfessionalHome")
            }
            else
            {
                @Html.Partial("../HomePage/UserHome")
            }
        }


        
    }

    <div class="footer">
        <h2>Soul Owl</h2>
    </div>

</body>
</html>
