@using WebApplicationProject_sucks.Controllers;
@using System.Web.Mvc.Html;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css%22%3E" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>

    <div class="header">
        <h1>Soul Owl</h1>
    </div>

    @Html.Partial("../Shared/navbar")

    @{ MyDB db = new MyDB();

        if (Session["UserName"] == null)
        {
            @Html.Partial("../HomePage/GuestHome")
   
        }

        else
        {
            string user = Session["UserName"].ToString();
            if (db.Users.Where(d => d.UserName == user).ToList().ElementAt(0).isProfessional)
            {
                @Html.Partial("../HomePage/ProfessionalHome")
            }
            else
            {
                @Html.Partial("../HomePage/UserHome")
            }





            <div class="footer">
                <h2>Soul Owl</h2>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fm.facebook.com%2FSoul-Owl-103690448134343%2F&width=450&layout=standard&action=like&size=small&share=true&height=35&appId=798249014317411" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

        }


    }
</body>
</html>
