@using System.Web.Mvc.Html;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>

    <div class="header">
        <h1>Soul Owl</h1>
    </div>

    @Html.Partial("../Shared/navbar")

    @{
        if (Session["UserName"] == null)
        {
            @Html.Partial("../HomePage/GuestHome")
        }
        else
        {
            @Html.Partial("../HomePage/UserHome")
        }

    }

    <div class="footer">
        <h2>Footer</h2>
    </div>

</body>
</html>
