
@{
    ViewBag.Title = "ProfessionalHome";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/Home.css" type="text/css">
</head>
<body>

   
    <div class="row">

        <div class="main">
            @Html.Partial("UserHome")
        </div>
        
    </div>


</body>
</html>
