
@{
    ViewBag.Title = "testTheSearch";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="~/Content/search.css" type="text/css">

    <title>Document</title>
</head>
<body>
    @{
        MyDB db = new MyDB();
        foreach (var item in db.QuestionRooms)
        {
            <div class="Title" hidden="hidden" value=@item.Title></div>
        }
    }
    <div class="container">
        <h1>&#x2728; MySearch &#x2728;</h1>
        <div id="searchWrapper">
            <input type="text"
                   name="searchBar"
                   id="searchBar"
                   placeholder="search for a post" />
        </div>
        <ul id="charactersList"></ul>
    </div>
    <script src="~/Scripts/searchBar.js"></script>
</body>
</html>



