@using WebApplicationProject_sucks.Models
@using WebApplicationProject_sucks.Controllers
@model WebApplicationProject_sucks.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>


    @{ MyDB db = new MyDB();
        <!--in order to load the list to javaScript that is responsibale for the searchBar-->

        var ContentList = ViewData["ContentList"] as List<AllContent>;
        foreach (var item in ContentList)
        {
            <div class="Title" value=@item.Title></div>
            <div class="Content" value=@item.Content></div>
        }
    }

    <!--
      the main area
    -->
    <div class="row">

        <!-- the main area-->
        <div class="main">
            <div class="row">
                <!--category buttons-->
                <input type="button" id="all" value="all" onclick="">
                @{
                    var user = db.Users.Find(Session["UserName"]);
                    var Intrest = user.Interests.OrderBy(i => i.LastTouched).ThenBy(i => i.NumOfVisits);
                    foreach (var item in Intrest)
                    {
                        <input id="@item.CategoryName" value=@item.CategoryName>
                    }
                }
                <br>
            </div>

            <ul class="allPost" id="charactersList">
                @{
                    <!--
                    --the statisc segestion of Qroom and posts
                    -->

                    foreach (var item in Intrest)
                    {

                        var Qrooms = db.QuestionRooms.Where(q => ((q.Categories.Where(c => c.CategoryName == item.CategoryName)).Count() > 0)).ToList();
                        foreach (var iteam2 in Qrooms)
                        {
                            <!--each Qroom-->
                            <li class="post">
                                @{string linkToQR = "../QuestionRooms/Details/" + iteam2.QuestionRoomID;}
                                <a href=@linkToQR>
                                    <img src="~/src/QutionRoomOwl.png" alt="Avatar" class="avatar" align="left">
                                    <h2>@Html.Raw(iteam2.Title)</h2>
                                    <h5>publish date , @iteam2.DatePublished.Month.@iteam2.DatePublished.Day.@iteam2.DatePublished.Year</h5>
                                </a>
                            </li>
                        }



                    }
                }
                }
                }
                }
            </ul>
        </div>

        <div class="side">
            <!-- the side panel with our info :)-->

            <a href="../Categories/Index">Categories</a><br />
            <a href="../QuestionRooms/Index">Question Rooms</a><br />
            <a href="../ProfessionalPages/Index">Professional Pages</a><br />
        </div>
    </div>
    <script src="~/Scripts/searchBar.js"></script>
    <script>
        //hide the search tab when not focused

        window.onclick = function (event) {
            if (document.activeElement != document.getElementById("searchBar")) {
                document.getElementById("myDropdown").style.display = 'none';
            }
        }
        @Html.Hidden("categoryName");
        function filtterByCategory(e)
        {
            var categoryName = e.id.toStrong();
            sessionStorage.setItem("categoryName", categoryName);
            document.getElementById("categoryName").value = categoryName;
        }

    </script>
</body>
</html>