@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>

    <!--here we place the content that differs-->


    <div class="row">

        <div class="side">
            <h2>About us</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>More Text</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div>
        </div>

        <div class="main">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <br>
            <img src="~/src/Owl.png" alt="Avatar" class="avatar" align="left">
            <div class=" bla">
                <h3>Titel</h3>
                <h5>publish date , mounth 0 , 0000</h5>
                <p>description...</p>
            </div>
        </div>
    </div>



    <div class="footer">
        <h2>Footer</h2>
    </div>
    <h1>welcome to your begining page</h1>

</body>
</html>