@using WebApplicationProject_sucks.Models
@using WebApplicationProject_sucks.Controllers
@model WebApplicationProject_sucks.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>


    @{ MyDB db = new MyDB();
        <!--in order to load the list to javaScript that is responsibale for the searchBar-->

        var ContentList = ViewData["ContentList"] as List<AllContent>;
        foreach (var item in ContentList)
        {
            <div class="ID" value=@item.AllContentID></div>
            <div class="Title" value="@item.Title"></div>
            <div class="Content" value="@item.Content"></div>
            <div class="Date" value=@item.Date></div>
            <div class="Name" value=@item.CreatorName></div>
        }
    }

    <!--
      the main area
    -->
    <div class="row">

        <!-- the main area-->
        <div class="main">
            <div class="row">
                <!--category buttons-->

                <br>
            </div>

            <ul class="allPost" id="charactersList"></ul>
        </div>

    </div>
    <script src="~/Scripts/searchBar.js"></script>
    <script>
        //hide the search tab when not focused

        window.onclick = function (event) {
            if (document.activeElement != document.getElementById("searchBar")) {
                document.getElementById("myDropdown").style.display = 'none';
            }
        }
    </script>
</body>
</html>