@model WebApplicationProject_sucks.Models.Profession
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Profession</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<a href="../Professions/Index">Back to categories</a>

