@model IEnumerable<WebApplicationProject_sucks.Models.ProfessionalPage>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script>
        function mySave() {
            document.getElementById("FromMy").value = "true";
        }
    </script>
    <link rel="stylesheet" href="~/Content/PageIndex.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>My Professional Pages</title>
</head>
<body>
    @using (Html.BeginForm("FromMy", "Shared"))
    {
        @Html.AntiForgeryToken()
        <div class="main">
            <p>
                @Html.Hidden("FromMy")
                <input type="submit" value="Create new" onclick="mySave()" class="btn btn-default" /><br />
            </p>
            <table class="table">
                @{ string user = Session["UserName"].ToString();
                    MyDB db = new MyDB();
                <tr>
                    <th>First Name</th>
                    <th>Page Name</th>
                     <th></th>
                </tr>
                    if (db.ProfessionalPages.Where(d => d.UserName == user) != null)
                    {
                        foreach (var item in db.ProfessionalPages.Where(d => d.UserName == user).ToList())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => db.Users.Find(item.UserName).FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameOfPage)
                                </td>
                                <td>

                                    @{ string link = "/ProfessionalPages/Details/" + item.ProfessionalPageID;}
                                    <a href=@link>Details</a>
                                </td>


                            </tr>
                        }
                    }
                }
            </table>
            <a href="../HomePage/Home">Back to home page</a>
            </div>
            }
    </body>
</html>
