@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">

</head>
<body>
    <div class="row">
        <div class="side">
            @{
                MyDB db = new MyDB();
                string user = Session["UserName"].ToString();
                var isP = db.Users.Where(d => d.UserName ==user ).ToList().ElementAt(0).isProfessional;
                if (isP)
                {
                    <a href="../../Posts/Create">Add a new post to your professional page</a>
                    <a href="../Edit">Edit this professional page </a>
                }


            }

        </div>
        <div class="main">
            @Html.Partial("../Partitial/ProfessionalPageDetails")

        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProfessionalPageID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</body>
</html>
