@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @Html.Partial("../../Partitial/ProfessionalPageDetails")
    </div>
    @{
        MyDB db = new MyDB();
        var isP = db.Users.Where(d => d.UserName ==Session["UserName"].ToString()).ToList().ElementAt(0).isProfessional;
        if(isP)
        {
            <a href="../../Posts/Create">Add a new post to your professional page</a>
        }
       

    }
    
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProffesionalPageID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
