@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/creatPost.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
    <link rel="stylesheet" href="~/Content/Register.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Professional Page</h4>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("ProfessionalPageID", Session["ProfessionalPageID"])
            <div class="form-group">
                <label>Edit the name of this page</label><br />
                @Html.Editor("NameOfPage", new { htmlAttributes = new { @class = "form-control", @Value = Model.NameOfPage } })

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" /><br />
                    @{ string link = "../Details/" + Session["ProfessionalPageID"];}
                    <a href=@link>Cancel</a>
                </div>
            </div>
        </div>

    }


</body>
</html>
