@model IEnumerable<WebApplicationProject_sucks.Models.ProfessionalPage>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script>
        function Search() {
            var a = document.getElementById("search").value;
            $.post("/ProfessionalPages/Search?search=" + a);

        }
    </script>

    <meta name="viewport" content="width=device-width" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/Content/creatPost.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
    <link rel="stylesheet" href="~/Content/Register.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <title>Index</title>
</head>
<body>
    <div class="form-horizontal">
        <p>
            <h4>Your search result</h4>
        </p>
        <table class="table">
            

            @if (ViewData["ListAfterSearchPP"] != null)
            {
                foreach (var item in ViewData["ListAfterSearchPP"] as IEnumerable<WebApplicationProject_sucks.Models.ProfessionalPage>)
                {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NameOfPage)
                </td>
                <td>
                    By @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ProfessionalPageID })
                </td>
            </tr>
                }
            }
            </table>
        <a href="/ProfessionalPages/Index">Back to professional pages</a>
    </div>
</body>
</html>
